html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include font_config(normal, 400, 1.4rem, 1.6rem);

  font-family: $font;
  background-color: #e7f6ff;
}

ul {
  list-style: none;
}

a,
button,
input {
  font-family: inherit;
  margin: 0;
  transition: 0.2s;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.hidden {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
  }

  &__logo {
    display: flex;
    align-items: center;

    &_pic {
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }
}

.content {
  padding: 40px;

  &__group {
    display: flex;
    align-items: center;
    margin: 0 0 40px;
    justify-content: space-between;
  }
}

.card {
  &__list {
    display: flex;
  }
  &__item {
    border: 1px solid #eaeaea;
    padding: 30px;
    width: 220px;
    border-radius: 40px;
    margin-right: 30px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
    }
  }

  &__favorite {
    position: absolute;
    cursor: pointer;
  }

  &__pic {
    width: 133px;
    height: 112px;
  }

  &__icon {
    &-plus {
      width: 11px;
      height: 11px;
    }
  }

  &__title {
    @include font_config(normal, 400, 1.4rem, 1.6rem);
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__caption {
    display: flex;
    flex-direction: column;
  }

  &__price {
    &-title {
      font-size: 1.3rem;
      text-transform: uppercase;
      opacity: 0.6;
    }

    &-subtitle {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

.search {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  &__field {
    border: 0;
    padding: 13px;
    font-size: 1.6rem;
    width: 200px;
  }

  &__icon {
  }
}

.btn {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.drawer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  &__content {
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cart {
  &__list {
    flex: 1;

    overflow: auto;
    margin: 40px 0;
  }
  &__item {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__pic {
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }

  &__title {
    @include font_config(normal, 400, 1.6rem, 1.6rem);

    margin-bottom: 5px;
  }

  &__price {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__caption {
    margin-right: 20px;
  }

  &__icon-remove {
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__total {
    .btn_green {
      position: relative;

      &:hover {
        .cart__icon-arrow {
          transform: translateX(5px);
        }
      }

      .cart__icon-arrow {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }

  &__border-bottom {
    flex: 1;
    height: 1;
    border-bottom: 1px dashed #dff3ff;
    position: relative;
    top: -3px;
  }

  &__info {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}

.btn {
  &_green {
    cursor: pointer;
    width: 100%;
    height: 55px;
    background-color: #9dd558;
    border: 0;
    border-radius: 18px;
    color: #ffffff;
    @include font_config(normal, 600, 1.6rem, 1.6rem);

    &_m {
      margin-top: 40px;
    }

    &:hover {
      background-color: lighten($color: #9dd558, $amount: 10%);
    }

    &:active {
      background-color: darken($color: #9dd558, $amount: 10%);
    }
  }
}
