@import './../../styles/variables';
@import './../../styles/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
  }

  &__logo {
    display: flex;
    align-items: center;

    &_pic {
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }
}